name: Deploy to Windows Dev

on:
  pull_request:
    types: [closed]
    branches:
      - dev

jobs:
  windows-deploy:
    if: github.event.pull_request.merged == true
    runs-on: windows-latest
    env:
      DB_HOST: ${{ secrets.DEV_DB_HOST }}
      DB_PW: ${{ secrets.DEV_DB_PW}}
      DB_USER: ${{ secrets.DEV_DB_USER }}
      DB_NAME: ${{ secrets.DEV_DB_NAME }}
      CLIENT_ID: ${{secrets.CLIENT_ID}}
      CLIENT_SECRET: ${{secrets.CLIENT_SECRET}}
      PORT: ${{secrets.PORT}}
      GEMINI_API_KEY: ${{secrets.GEMINI_API_KEY}}
      CANVAS_DOMAIN: ${{secrets.DEV_CANVAS_DOMAIN}}
      CANVAS_API_TOKEN: ${{secrets.DEV_CANVAS_API_TOKEN}}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: dev
      - uses: actions/setup-node@v4
        with:
          node-version: "20.11.0"

      - run: |
          "DB_HOST=${{env.DB_HOST}}" | Out-File -FilePath .env -Encoding utf8
          "DB_PW=${{env.DB_PW}}" | Out-File -FilePath .env -Append -Encoding utf8
          "DB_USER=${{env.DB_USER}}" | Out-File -FilePath .env -Append -Encoding utf8
          "DB_NAME=${{env.DB_NAME}}" | Out-File -FilePath .env -Append -Encoding utf8
          "CLIENT_ID=${{env.CLIENT_ID}}" | Out-File -FilePath .env -Append -Encoding utf8
          "CLIENT_SECRET=${{env.CLIENT_SECRET}}" | Out-File -FilePath .env -Append -Encoding utf8
          "PORT=${{env.PORT}}" | Out-File -FilePath .env -Append -Encoding utf8
          "GEMINI_API_KEY=${{env.GEMINI_API_KEY}}" | Out-File -FilePath .env -Append -Encoding utf8
          "CANVAS_DOMAIN=${{env.CANVAS_DOMAIN}}" | Out-File -FilePath .env -Append -Encoding utf8
          "CANVAS_API_TOKEN=${{env.CANVAS_API_TOKEN}}" | Out-File -FilePath .env -Append -Encoding utf8

      - run: npm run winbundle
      - name: Copy folder content recursively to remote
        uses: garygrossgarten/github-action-scp@release
        with:
          local: deploy/
          remote: c:/nodeapps/tools-backend
          recursive: true
          host: "toolsdev.oc.edu"
          username: "david.north"
          privateKey: ${{ secrets.DEV_WIN_SERVER_SSH_KEY  }}
          password: ${{ secrets.PASSWORD }}

      - name: Command via ssh
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: '.\deploy-tools-backend'
          host: "toolsdev.oc.edu"
          username: "david.north"
          privateKey: ${{ secrets.DEV_WIN_SERVER_SSH_KEY  }}
